.row > div {
  padding: 2px;
}

.container {
  padding: 10px;
}

@keyframes shakeScreen {
  0% {
    transform:translateX(0);
  }
  20% {
    transform:translateX(-50px);

  }
  40% {
    transform:translateX(50px);

  }
  60% {
    transform:translateX(-50px);

  }
  80% {
    transform:translateX(50px);

  }

  100% {
    transform:translateX(0);

  }
}

.shakeScreen {
  animation:shakeScreen 1s;
}